<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li class="active">Εργοθεραπεία</li>
  </ol>
  <div class="col-md-4">
    {% include ergotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class='color-blue'>Τι είναι η Eργοθεραπεία;</h2>
    <p>Εργοθεραπεία είναι η επιστήμη η οποία μέσω των κατάλληλα επιλεγμένων και στοχοκατευθυνόμενων δραστηριότητων, έχει απώτερο στόχο, το άτομο να επιτύχει το μέγιστο επίπεδο λειτουργικότητας και ανεξαρτησίας.</p>
    <p>Αντικείμενο της εργοθεραπείας:</p>
    <p>Ένας εργοθεραπευτής έχει την δυνατότητα να παρέμβει στους παρακάτω τομείς:
      <ul>
        <li>Κινητικές δεξιότητες: αδρή και λεπτή κινητικότητα, ισορροπία, μυική δύναμη, πλευρίωση, αμφίπλευρος συντονισμός, οπτικοκινητικός συντονισμός, λεπτοί χειρισμοί χεριών-δακτύλων</li>
        <li>Γνωστικές δεξιότητες: προσοχή, συγκέντρωση, οπτική και ακουστική αντίληψη, χωρικός και χρονικός προσανατολισμός ,ικανότητα επίλυσης προβλήματος, μνήμη</li>
        <li>Κοινωνικές δεξιότητες: κοινωνική ανταπόκριση, συναισθηματική επαφή, δεξιότητες αλληλεπίδραση</li>
        <li>Δραστηριότητες καθημερινής ζωής: ένδυση, απόδυση, σίτιση, υγειηνή σώματος, αυτοϋπηρέτηση</li>
        <li>Αισθητηριακές δεξιότητες: αισθητηριακή επεξεργασία και οργάνωση των ερεθισμάτων που προέρχονται από το απτικό-ιδιοδεκτικό-αιθουσαίο-οπτικό-οσφρητικό-γευστικό σύστημα</li>
      </ul>
    </div>
  </div>
</div>
