<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'ergotherapeia' | prepend: site.baseurl }}">Εργοθεραπεία</a>
    </li>
    <li class="active">Πότε πρέπει να συμβουλευτείτε έναν εργοθεραπευτή</li>
  </ol>
  <div class="col-md-4">
    {% include ergotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Πότε πρέπει να συμβουλευτείτε έναν εργοθεραπευτή</h2>
    <p>
      Με βάση τον Αμερικανικό Σύλλογο Εργοθεραπευτών, αν το παιδί παρουσιάζει 3 ή περισσότερες από τις παρακάτω δυσκολίες, θα πρέπει να ζητήσουμε μία εργοθεραπευτική αξιολόγηση:

      <ul>
        <li>Δεν παίζει με τα παιχνίδια της ηλικίας του, πράγμα που σημαίνει ότι ένα παιδί μπορεί να μην ενδιαφέρεται για τα εν λόγω παιχνίδια (π.χ., να αντιμετωπίζει κάποιο ψυχολογικό πρόβλημα) ή να μην τα καταφέρνει (π.χ., να είναι λίγο πιο πίσω αναπτυξιακά
          σε σχέση με την ηλικία του).</li>
        <li>Δυσκολεύεται να αυτοεξυπηρετηθεί. Να μην έχει δηλαδή, ανάλογα με την ηλικία του, τις κατάλληλες δεξιότητες ώστε να φάει μόνο του, να βάλει τα ρούχα ή τα παπούτσια του, να πάει στην τουαλέτα, κ.λπ..</li>
        <li>Έχει ελαττωμένο μυϊκό τόνο (μοιάζει αδύναμο). Πρόκειται για ένα παιδί που φαίνεται να μην έχει αντοχή, να είναι χαλαρό–πλαδαρό.</li>
        <li>Πέφτει εύκολα κάτω.</li>
        <li>Δυσκολεύεται να υπολογίσει τη θέση του σώματός του στο χώρο (χτυπάει εύκολα).</li>
        <li>Σπάει συχνά τα παιχνίδια του.</li>
        <li>Δυσκολεύεται να ζωγραφίσει μέσα σε πλαίσιο (ένα παιδί πριν γράψει θα πρέπει να μπορεί να συντονίσει την κίνηση του χεριού του, ώστε να ζωγραφίσει μέσα σε ένα συγκεκριμένο πλαίσιο), να φτιάξει παζλ (η δυσκολία καθορίζεται ανάλογα με την ηλικία του
          παιδιού), να κόψει με το ψαλίδι στο νηπιαγωγείο.</li>
        <li>Υπάρχει εμφανής καθυστέρηση στην ανάπτυξη του λόγου και της ομιλίας του ή η ομιλία του είναι δυσνόητη και δεν αρθρώνει σωστά.</li>
        <li>Είναι πολύ υπερκινητικό και δεν μπορεί να ησυχάσει.</li>
        <li>Είναι πολύ ευαίσθητο σε οσμές, γεύσεις, θορύβους ή αγγίγματα.</li>
        <li>Αποφεύγει την παιδική χαρά.</li>
        <li>Έχει δυσκολίες στον ύπνο.</li>
        <li>Έχει δυσκολίες στο φαγητό, λερώνεται υπερβολικά ή δεν τρώει κάποιες βασικές τροφές. Μπορεί, για παράδειγμα, το παιδί να μην έχει τις κατάλληλες δεξιότητες ώστε να χρησιμοποιήσει το πιρούνι για να μπορεί να φάει.</li>
        <li>Δεν μπορεί να συγκεντρωθεί ή συγκεντρώνεται υπερβολικά σε μία δραστηριότητα, με αποτέλεσμα να μην μπορεί να συνεχίζει σε άλλη. Για παράδειγμα, μπορεί να πρόκειται για ένα παιδί που διασπάται εύκολα η προσοχή του και έτσι δυσκολεύεται να συγκεντρωθεί.</li>
        <li>Χρειάζεται περισσότερη εξάσκηση από άλλα παιδιά για να μάθει καινούργια πράγματα.</li>
        <li>Αντιστρέφει γράμματα και αριθμούς, δεν αφήνει διαστήματα μεταξύ των γραμμάτων και των λέξεων που γράφει. Μπορεί να μην έχει, για παράδειγμα, καλή αντίληψη στο οπτικό του σύστημα. Ο γραφικός του χαρακτήρας είναι πολύ κακός.</li>
        <li>Κουράζεται εύκολα κατά τη σχολική του εργασία. Μπορεί, για παράδειγμα, να πρόκειται για ένα παιδί που είναι υπερκινητικό, έχει διάσπαση προσοχής, είναι υποτονικό κ.ά.</li>
        <li>Δυσκολεύεται να ακολουθήσει προφορικές οδηγίες. Μπορεί, για παράδειγμα, να μην έχει καλή ακουστική αντίληψη.</li>
        <li>Δυσκολεύεται να κάνει φίλους της ίδιας ηλικίας και προτιμά να παίζει με μικρότερα ή με μεγαλύτερα παιδιά. Μπορεί να πρόκειται για ένα παιδί που είναι πίσω αναπτυξιακά, είναι πολύ ντροπαλό, έχει κάποια ψυχολογικά προβλήματα, κ.ά.</li>
      </ul>
    </p>
    <p>
      Μέθοδοι που χρησιμοποιούνται : αισθητηριακή ολοκλήρωση, M.O.R.E, Θεραπευτική ακρόαση, PECS, TEACH, BOBATH
    </p>
  </div>
</div>
