<img src="{{ '/assets/images/kid-ergo.png' | prepend: site.url }}" style="width:100%; margin-bottom: 20px;"/>

<ul class="list-group">
  <li class="list-group-item">
    <a href="{{ '/ergotherapeia/pote_prepei_na_symvoulefteite_enan_ergotherapefti' | prepend: site.url }}">Πότε πρέπει να συμβουλευτείτε έναν εργοθεραπευτή</a>
  </li>
  <li class="list-group-item">
    <a href="{{ '/ergotherapeia/prwti_episkepsi' | prepend: site.url }}">Πρώτη επίσκεψη</a>
  </li>
  <li class="list-group-item">
    <a href="{{ '/logotherapeia/dikaiologitika_gia_tin_xorigisi_synedriwn_logotherapeias' | prepend: site.url }}">Δικαιολογητικά για την χορήγηση συνεδριών εργοθεραπείας</a>
  </li>
  <li class="list-group-item">
    <a href="{{ '/ergotherapeia/syxnotita_synedriwn' | prepend: site.url }}">Συχνότητα συνεδριών</a>
  </li>
</ul>
