<img src="{{ 'assets/images/kid-ergo.png' | prepend: site.baseurl }}" style="width:100%; margin-bottom: 20px;"/>

<ul class="list-group">
  <li class="list-group-item">
    <a href="{{ 'ergotherapeia/pote_prepei_na_symvoulefteite_enan_ergotherapefti' | prepend: site.baseurl }}">Πότε πρέπει να συμβουλευτείτε έναν εργοθεραπευτή</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'ergotherapeia/prwti_episkepsi' | prepend: site.baseurl }}">Πρώτη επίσκεψη</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/dikaiologitika_gia_tin_xorigisi_synedriwn_logotherapeias' | prepend: site.baseurl }}">Δικαιολογητικά για την χορήγηση συνεδριών εργοθεραπείας</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'ergotherapeia/syxnotita_synedriwn' | prepend: site.baseurl }}">Συχνότητα συνεδριών</a>
  </li>
</ul>
