<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.url }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ '/ergotherapeia' | prepend: site.url }}">Εργοθεραπεία</a>
    </li>
    <li class="active">Συχνότητα συνεδριών</li>
  </ol>
  <div class="col-md-4">
    {% include ergotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Συχνότητα συνεδριών</h2>
    <p>
      Η συχνότητα των συνεδριών εξαρτάται από την διάγνωση και τις ανάγκες του κάθε θεραπευόμενου.
    </p>
    <p>
      Συνήθως, γίνεται μία συνεδρία την εβδομάδα, τη μέρα και την ώρα που έχει συμφωνηθεί. Η διάρκεια της συνεδρίας είναι 45’.
    </p>
    <p>
      Μετά το τέλος κάθε συνεδρίας ακολουθεί ενημέρωση για την πρόοδο του θεραπευόμενου κατά την διάρκεια της συνεδρίας αλλά δίνονται και οδηγίες για τον τρόπο που πρέπει να δουλεύεται ο θεραπευόμενος στο σπίτι.
    </p>
  </div>
</div>
