<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.url }}">Αρχική</a>
    </li>
    <li class="active">Επικοινωνία</li>
  </ol>
  <div id="success" class="alert bg-pink col-lg-12 hide">
    <p class="color-white">
      <strong>Σας ευχαριστόυμε!</strong>
    </p>
    <p class="color-white">
      Σύντομα θα επικοινωνήσουμε μαζί σας.
    </p>
  </div>
  <div class="col-md-6">
    <h2 class="color-blue">Που θα μας βρείτε</h2>
    <p>
      Το κέντρο μας βρίσκετε στο κέντρο του Λαγκαδά<br/>
      Ματαπά 11, δίπλα από το ταχυδρομείο
    </p>
    <p>
      Τηλέφωνο επικοινωνίας: 23940 24555, 6942414511
    </p>
    <h2 class="color-blue">Φόρμα Επικοινωνίας</h2>
    <form action="https://formspree.io/apostmaria@hotmail.com" method="POST">
      <div class="form-group">
        <label>Το όνομα σας</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label>Το email σας</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label>Το μήνυμα σας</label>
        <textarea name="message" rows="5" class="form-control"></textarea>
      </div>
      <input type="hidden" name="_next" value="{{ '/contact' | prepend: site.url }}#success"/>
      <input type="hidden" name="_subject" value="Contact Form: Σκέψη Λέξη"/>
      <input type="text" name="_gotcha" style="display:none"/>
      <input type="hidden" name="_cc" value="skepsileksi@oden.gr"/>
      <button type="submit" class="btn btn-blue">Αποστολή</button>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="color-blue">Βρείτε μας στο χάρτη</h2>
    <div style="overflow:hidden;height:450px;width:100%;">
      <div id="gmap_canvas" style="height:450px;width:100%"></div>
    </div>
  </div>
</div>

<script>
  if (window.location.href.match(/\#success/)) {
    var elem = document.getElementsByClassName("alert")[0];
    elem.className = elem.className.replace('hide', '');
  }
</script>
