<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'logo' | prepend: site.baseurl }}">Λογοθεραπία</a>
    </li>
    <li class="active">Πρώτη επίσκεψη</li>
  </ol>
  <div class="col-md-4">
    {% include logo/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Πρώτη επίσκεψη</h2>
    <p>
      Αρχικά, στην πρώτη επίσκεψη στο κέντρο μας, γίνεται η λήψη του ιστορικού. Στην συνέχεια, γίνεται η αξιολόγηση του θεραπευόμενου με έγκυρα τέστς όπου μαε επιτρέπουν να δούμε σε ποιους τομείς παρουσιάζονται ελλείψεις.
    </p>
    <p>
      Μόλις ολοκληρωθεί η αξιολόγηση, ακολουθεί η ενημέρωση των αποτελεσμάτων στον κηδεμόνα του θεραπευόμενου και μια πρώτη εκτίμηση για το θεραπευτικό πρόγραμμα που θα εφαρμοστεί.
    </p>
    <p>
      Τέλος, ορίζονται οι μέρες και οι ώρες που θα διεξάγονται οι θεραπείες.
    </p>
  </div>
</div>
