<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.url }}">Αρχική</a>
    </li>
    <li class="active">Θεραπευτές</li>
  </ol>

  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#apostolaki">Αποστολάκη Μαρία</a><br />
        <span class="label bg-pink">Λογοθεραπεύτρια</small>
      </li>
      <li class="list-group-item">
        <a href="#apostolaki">Τσιόγκα Αλεξάνδρα</a><br />
        <span class="label bg-pink">Λογοθεραπεύτρια</small>
      </li>
    </ul>

  </div>
  <div class="col-lg-8">
    <h1 class="color-blue">Θεραπευτές</h1>

    <div id="apostolaki">
      <h2 class="color-pink">Αποστολάκη Μαρία
        <small>Λογοθεραπεύτρια</small>
      </h2>
      <p>
        Η Αποστολάκη Μαρία είναι απόφοιτος του τμήματος λογοθεραπείας του Τ.Ε.Ι. Ηπείρου και μέλος του Πανελλήνιου Συλλόγου Λογοθεραπευτών. Κατά την διάρκεια των σπουδών της, συμμετείχε εθελοντικά σε έναν δημόσιο φορέα, στην πόλη των Ιωαννίνων, όπου κύριο
        στόχο είχε την δημιουργική απασχόληση Α.μ.Ε.Α.
      </p>
      <p>
        Την περίοδο 2006 έως 2010 εργάστηκε στον ιδιωτικό τομέα παρέχοντας υπηρεσίες λογοθεραπείας σε κέντρο της Θεσσαλονίκης και των Ν. Μουδανιών. Επιπλέον, για έναν χρόνο έκανε παράλληλη στήριξη σε ένα παιδί με διάχυτη αναπτυξιακή διαταραχή με σκοπό την
        ομαλή ένταξη του στο σχολικό περιβάλλον. Από το 2009 έως σήμερα, είναι υπεύθυνη του κέντρου λογοθεραπείας και εργοθεραπείας «Σκέψη & Λέξη» όπου εδρεύει στον Λαγκαδά.
      </p>
      <p>
        Αναγνωρίζοντας την αναγκαιότητα της συνεχιζόμενης εκπαίδευσης, παρακολούθησε και συνεχίζει να παρακολουθεί ημερίδες, σεμινάρια και συνέδρια τα οποία αφορούν στην διαταραχή ελλειμματικής προσοχής και υπερκινητικότηταs (ΔΕΠ – Υ), στην ειδική μαθησιακή
        δυσκολία – δυσλεξία, στην ειδική γλωσσική διαταραχή κατανόησης και έκφρασης, στον τραυλισμό και στις διάχυτες αναπτυξιακές διαταραχές παίρνοντας πιστοποιήσει για το πρόγραμμα Μάκατον, Pecs και εντατικής αλληλεπίδρασης.
      </p>
      <p>
        Τηλέφωνο επικοινωνίας:  6942414511
      </p>
    </div>
    <hr/>
    <div id="tsiogka">
      <h2 class="color-pink">
        Τσιόγκα Αλεξάνδρα
        <small>Λογοθεραπεύτρια</small>
      </h2>
    </div>
  </div>

</div>
