<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png"/></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse header-nav">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="./">Αρχική</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Υπηρεσίες
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Λογοθεραπεία</a>
            </li>
            <li>
              <a href="#">Εργοθεραπεία</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Το κέντρο μας</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Θεραπευτές
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Αποστολάκη Μαρία</a>
            </li>
            <li>
              <a href="#">Γιάννα</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Επικοινωνία</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
