@font-face {
  font-family: 'VAG-HandWritten';
  src: url('../fonts/VAG-HandWritten.eot');
  src: local('☺'),
      url('../fonts/VAG-HandWritten.woff') format('woff'),
      url('../fonts/VAG-HandWritten.ttf') format('truetype'),
      url('../fonts/VAG-HandWritten.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
