footer {
  position: relative;
  min-height: 50px;
  margin-top: -10px;
  background-color: $color-blue;
  color: #fff;

  .container {
    padding-bottom: 15px;
    padding-top: 25px;
  }
  h3 {
    font-family: $default-font;
    font-size: 18px;
  }
  img.decorator {
    right: 0;
    left: 0;
    z-index: 1;
    margin-top: -90px;
    text-align: center;
    width: 100%;
  }
  img.social {
    width: 20px;
    height: 20px;
  }
  .row {
    min-height: 100px;
    margin: 0;
  }
  p.copyright {
    min-height: 50px;
    padding: 12px;
    background-color: $color-green;
    color: #fff;
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  a, a:hover {
    color: #fff;
  }
  li.info {
    color: #dfeef9;
  }
}
#clouds path {
  fill: $color-blue;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  stroke: $color-blue;
}
