body {
  font-family: $default-font;
  color: $color-text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}
p {
  font-size: 16px;
  line-height: 28px;
}
.color-blue {
  color: $color-blue;
}
.color-green {
  color: $color-green;
}
.color-yellow {
  color: $color-yellow;
}
.color-pink {
  color: $color-pink;
}
.color-orange {
  color: $color-orange;
}
.color-white {
  color: #fff;
}
section {
  display: block;
  padding: 30px 0;
}
.btn {
  color: #fff;
}
.bg-image {
  background-image: url('../images/background-flowers.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.bg-blue, .btn-blue {
  background-color: $color-blue;
}
.bg-green, .btn-green {
  background-color: $color-green;
}
.bg-yellow, .btn-yellow {
  background-color: $color-yellow;
}
.bg-pink, .btn-pink {
  background-color: $color-pink;
}
.bg-orange, .btn-orange {
  background-color: $color-orange;
}
