header {
  background-image: url('../images/rainbow.png');
  background-repeat: repeat-x;
  background-size: 500px 4px;
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar {
    border: 0;
    min-height: 80px;
    background-color: transparent;
  }
  .header-nav {
    margin-top: 30px;
  }
  .dropdown-menu > li > a,
  .navbar-default .navbar-nav > li > a {
    font-size: 24px;
    color: #404040;
    font-family: 'VAG-HandWritten';
  }
  .navbar-default .navbar-nav > li.open,
  .navbar-default .navbar-nav > li:hover {
    > a {
      background-color: #2796d8;
      border-radius: 5px;
      color: #fff;
    }
  }
}
@media (max-width: 992px) {
  header {
    .navbar-default .navbar-collapse {
      padding: 0;
    }
    .dropdown-menu > li > a,
    .navbar-default .navbar-nav > li > a {
      font-size: 20px;
    }
    .navbar-brand > img {
      height: 40px;
    }
  }
}
