$default-font    : 'Roboto', sans-serif;
$header-font     : 'VAG-HandWritten';

$color-text      : #404040;

$color-blue      : #2796d8;
$color-green     : #93ad42;
$color-yellow    : #fedd61;
$color-pink      : #ce437e;
$color-orange    : #f59234;
$color-grey      : #eeeeee;
