#welcome {
  .welcome-image {
    background-image: url('../images/kid-playing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 250px;
  }
  .welcome-text {
    padding-top: 50px;
  }
}
#professions {
  .box {
    padding: 30px;
  }
  p {
    margin-bottom: 20px;
  }
}
#aboutus {
  .profile-female {
    margin: 20px;
  }
  small {
    margin-top: -10px;
    display: block;
    margin-bottom: 10px;
  }
}
#callout {
  background-color: $color-blue;
  position: relative;
  overflow: hidden;
  padding: 0;
  .container {
    position: relative;
    overflow: hidden;
    padding: 70px;
    background-image: url("../images/kids.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .well {
    padding: 40px;
    box-shadow: 6px 6px 0 rgba(103, 102, 102, 0.2);
    border-radius: 20px;
    border: 0;
    background-color: #fff;
    margin-bottom: 0;
    min-height: 280px;
    p {
      margin-bottom: 20px;
    }
  }
  /* CSS Sun */
  .sun {
    float: left;
    z-index: 99;
    position: relative;
    margin: 30px;
    width: 80px;
    height: 80px;
  }
  .sun-face {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    color: #4E0404;
  }
  .sun-leye,
  .sun-reye {
    position: absolute;
    top: 1.45em;
    left: 0.75em;
    width: 0.4em;
    height: 0.9em;
    background: #565656;
    border-radius: 0.4em / 0.8em;
  }
  .sun-leye:after,
  .sun-reye:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.4em;
    height: 0.1em;
    background: #ffdf05;
    content: '';
  }
  .sun-leye:before,
  .sun-reye:before {
    position: absolute;
    bottom: 0.1em;
    right: -0.1em;
    width: 0.2em;
    height: 0.2em;
    background: #ffdf05;
    content: '';
    transform: rotate(45deg);
  }
  .sun-reye {
    left: auto;
    right: 0.75em;
  }
  .sun-lred,
  .sun-rred {
    position: absolute;
    top: 2em;
    left: -0.2em;
    width: 0.7em;
    height: 0.35em;
    opacity: 0.6;
    background: #ff5e00;
    border-radius: 0.7em / 0.35em;
  }
  .sun-rred {
    left: auto;
    right: -0.2em;
  }
  .sun-smile {
    position: absolute;
    bottom: 0.8em;
    left: 50%;
    margin-left: -0.2em;
    width: 0.4em;
    height: 0.2em;
    background: #565656;
  }
  .sun-smile:after {
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0.4em;
    height: 0.2em;
    background: #565656;
    border-radius: 0 0 0.2em 0.2em;
    content: '';
  }
  .sun-smile:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.03125em;
    width: 0.0625em;
    height: 0.35em;
    background: #565656;
    content: '';
  }
  .sun-hlight {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    width: 0.35em;
    height: 0.35em;
    opacity: 0.8;
    background: #fcf0a3;
    border-radius: 0.35em;
  }
  .sun-anime {
    width: 100%;
    height: 100%;
    animation: sunrolling 30s infinite;
  }
  .sun-ball {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #ffcf11;
    background-image: radial-gradient(circle, #ffdf05, #ffdf05);
    box-shadow: 0 0 100px #ffdf05;
  }
  .sun-light {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 2px;
    height: 160%;
  }
  .sun-light b,
  .sun-light s {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    /* 100*30/100=18.75 */
    background: #fed65b;
  }
  .sun-light s {
    top: auto;
    bottom: 0;
  }
  .sun-light:nth-child(10n+2) {
    transform: rotate(18deg);
  }
  .sun-light:nth-child(10n+3) {
    transform: rotate(36deg);
  }
  .sun-light:nth-child(10n+4) {
    transform: rotate(54deg);
  }
  .sun-light:nth-child(10n+5) {
    transform: rotate(72deg);
  }
  .sun-light:nth-child(10n+6) {
    transform: rotate(90deg);
  }
  .sun-light:nth-child(10n+7) {
    transform: rotate(108deg);
  }
  .sun-light:nth-child(10n+8) {
    transform: rotate(126deg);
  }
  .sun-light:nth-child(10n+9) {
    transform: rotate(144deg);
  }
  .sun-light:nth-child(10n+10) {
    transform: rotate(162deg);
  }
  /* Sun Animation*/
  @keyframes sunrolling {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  /* Clouds  */
  .cloud {
    animation: clouds 60s infinite linear;
    border-radius: 10px;
    position: relative;
    margin: 33px 0 0;
    width: 54px;
    height: 5px;
    background: #f7e7eb;
  }
  .cloud.tiny {
    transform: scale(0.5, 0.5);
  }
  .cloud.small {
    transform: scale(1, 1);
  }
  .cloud.normal {
    transform: scale(2, 2);
  }
  .cloud.large {
    transform: scale(4, 4);
  }
  .cloud div {
    box-shadow: inset -2px -3px 0 0 #f7e7eb;
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: -3px;
    bottom: 0;
    background: #fafbf0;
    z-index: 10;
  }
  .cloud div:first-child + div {
    transform: scale(1.6, 1.6);
    margin: 0 0 4px 13px;
    z-index: 9;
  }
  .cloud div:first-child + div + div {
    transform: scale(2.4, 2.4);
    margin: 0 0 9px 32px;
    z-index: 8;
  }
  .cloud div:first-child + div + div + div {
    transform: scale(1.3, 1.3);
    margin: 0 0 2px 50px;
    z-index: 7;
  }
  .cloud-1 {
    position: absolute;
    animation-duration: 263s;
    margin-left: 20%;
    margin-top: 20%;
  }
  .cloud-2 {
    position: absolute;
    animation-duration: 99s;
    margin-left: 90%;
    margin-top: 10%;
  }
  .cloud-3 {
    position: absolute;
    animation-duration: 142s;
    margin-left: 50%;
    margin-top: 30%;
  }
  .cloud-4 {
    position: absolute;
    animation-duration: 152s;
    margin-left: 43%;
    margin-top: 10%;
  }
  .cloud-5 {
    position: absolute;
    animation-duration: 215s;
    margin-left: 83%;
    margin-top: 16%;
  }
  .cloud-6 {
    position: absolute;
    animation-duration: 139s;
    margin-left: 73%;
    margin-top: 30%;
  }
  .cloud-7 {
    position: absolute;
    animation-duration: 109s;
    margin-left: 69%;
    margin-top: 25%;
  }
  .cloud-8 {
    position: absolute;
    animation-duration: 121s;
    margin-left: 100%;
  }
  .cloud-9 {
    position: absolute;
    animation-duration: 101s;
    margin-left: 10%;
    margin-top: 32%;
  }
  .cloud-10 {
    position: absolute;
    animation-duration: 126s;
    margin-left: 14%;
    margin-top: 4%;
  }
  .cloud-11 {
    position: absolute;
    animation-duration: 96s;
    margin-left: 73%;
    margin-top: 34%;
  }
  .cloud-12 {
    position: absolute;
    animation-duration: 83s;
    margin-left: 51%;
    margin-top: 12%;
  }
  /* Clouds Animation  */
  @keyframes clouds {
    0% {
      left: -20%;
    }
    100% {
      left: 100%;
    }
  }
}
#testimonials {
  .well {
    background-color: $color-grey;
    border: 0;
    border-radius: 10px;
    p {
      font-style: italic;
      font-size: 14px;
    }
    small {
      color: #969696;
    }
  }
}
