/* purgecss start ignore */
@font-face {
  font-family: "IEP Comic";
  src: url("../fonts/IEPComic.woff2") format("woff2"),
    url("../fonts/IEPComic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

/* purgecss end ignore */
