@font-face {
  font-family: "IEP Comic";
  src: url("../fonts/IEPComic.woff2") format("woff2"),
    url("../fonts/IEPComic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
