<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.url }}">Αρχική</a>
    </li>
    <li class="active">Το κέντρο μας</li>
  </ol>

  <div class="col-lg-12">
    <h2 class="color-blue">Το κέντρο μας</h2>
    <p>
      Το κέντρο λογοθεραπείας και εργοθεραπειάς «Σκέψη & Λέξη» λειτουργεί στην περιοχή του Λαγκαδά απο το 2009. Βρίσκεται σε κεντρικό σημείο, με άνετο πάρκινγκ και εύκολη πρόσβαση.
    </p>
    <p>Οι αίθουσες που χρησιμοποιούνται για τις θεραπείες είναι ευχάριστες και άρτια εξοπλισμένες με σκοπό να εξυπηρετηθούν οι ανάγκες του κάθε παιδιού. Επίσης διαθέτει έναν άνετο και ζεστό χώρο αναμονής.
    </p>
  </div>

  <div class="col-lg-12 text-center">
    <hr />
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02282_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02282.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02285_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02285.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02287_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02287.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02289_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02289.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02294_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02294.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02298_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02298.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02281_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02281.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="{{ '/assets/images/kentro/DSC02301_thumb.png' | prepend: site.url }}" data-jslghtbx="{{ '/assets/images/kentro/DSC02301.png' | prepend: site.url }}" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <hr />
  </div>
</div>
