<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li class="active">Το κέντρο μας</li>
  </ol>

  <div class="col-lg-12">
    <h2 class="color-blue">Το κέντρο μας</h2>
    <p>
      Το κέντρο λογοθεραπείας και εργοθεραπειάς «Σκέψη & Λέξη» λειτουργεί στην περιοχή του Λαγκαδά απο το 2009. Βρίσκεται σε κεντρικό σημείο, με άνετο πάρκινγκ και εύκολη πρόσβαση.
    </p>
    <p>Οι αίθουσες που χρησιμοποιούνται για τις θεραπείες είναι ευχάριστες και άρτια εξοπλισμένες με σκοπό να εξυπηρετηθούν οι ανάγκες του κάθε παιδιού. Επίσης διαθέτει έναν άνετο και ζεστό χώρο αναμονής.
    </p>
  </div>
  <div class="col-lg-12 text-center">
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
    <img class="jslghtbx-thmb" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=214%C3%97144&w=214&h=144" data-jslghtbx="https://placeholdit.imgix.net/~text?txtsize=20&txt=800%C3%97600&w=800&h=600" data-jslghtbx-group="kentro" alt="" data-jslghtbx>
  </div>
</div>
