<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.url }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ '/logotherapeia' | prepend: site.url }}">Λογοθεραπεία</a>
    </li>
    <li class="active">Δικαιολογητικά για την χορήγηση συνεδριών λογοθεραπείας / εργοθεραπείας</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Δικαιολογητικά για την χορήγηση συνεδριών λογοθεραπείας / εργοθεραπείας</h2>
    <p>
      Τα περισσότερα ασφαλιστικά ταμεία καλύπτουν το μεγαλύτερο ποσοστό της δαπάνης για συνεδρίες λογοθεραπείας και ένα μικρό ποσοστό της δαπάνης για συνεδρίες εργοθεραπείας. Η διαδικασία που χρειάζεται να κάνετε προκειμένου να εγκριθούν συνεδρίες
      λογοθεραπείας και εργοθεραπείας, εξαρτάται από το ασφαλιστικό ταμείο στο οποίο είναι ασφαλισμένος ο θεραπευόμενος.
    </p>
    <p>
      Συγκεκριμένα:
    </p>
    <ul>
      <li>
        <p>
          <u>Αν είναι ασφαλισμένος του ΙΚΑ:</u>
        </p>
        <p>
          Αρχικά κλείνεται ένα ραντεβού με το κέντρο παιδοψυχικής υγιεινής όπου μετά από αξιολόγηση του παιδιού από αρμόδια επιτροπή, σας χορηγείται η γνωμάτευση.
        </p>
        <p>
          Έπειτα καταθέτεται την γνωμάτευση που σας χορήγησαν, στο υποκατάστημα του ΙΚΑ της περιοχής σας.
        </p>
      </li>
      <li>
        <p>
          <u>Αν είναι ασφαλισμένος σε κάποιο άλλο ασφαλιστικό ταμείο:</u>
        </p>
        <p>
          Αρχικά κλείνεται ραντεβού σε κάποιο δημόσιο νοσοκομείο ( ιατροπαιδαγωγικό τμήμα) όπου μετά από αξιολόγηση του παιδιού από αρμόδια επιτροπή, σας χορηγείται γνωμάτευση.
        </p>
        <p>
          Έπειτα καταθέτεται την γνωμάτευση που σας χορήγησαν στο ταμείο όπου ανήκετε.
        </p>
        <p>
          Στο τέλος κάθε μήνα, καταθέτετε την απόδειξη παροχής υπηρεσιών και την φωτοτυπία της γνωμάτευσης στο τμήμα παροχών του ασφαλιστικού σας ταμείου.
        </p>
        <p>
          Έπειτα από αυτή τη διαδικασία, γίνεται η κατάθεση των χρημάτων που σας αντιστοιχούν στο τραπεζικό λογαριασμό.
        </p>
      </li>
    </ul>

  </div>
</div>
