<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'logotherapeia' | prepend: site.baseurl }}">Λογοθεραπεία</a>
    </li>
    <li class="active">Φυσιολογική ανάπτυξη του λόγου και της ομιλίας</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Φυσιολογική ανάπτυξη του λόγου και της ομιλίας</h2>
    <p>
      Γνωρίζουμε πως σε κάθε παιδί υπάρχει κάποια διακύμανση του χρόνου που χρειάζεται ώστε να κατακτήσει κάποιες δεξιότητες. Ωστόσο, υπάρχουν συγκεκριμένα στάδια της φυσιολογικής ανάπτυξης του λόγου που ακολουθούν τα παιδιά. Συγκεκριμένα, σύμφωνα με την
      ηλικία που ακολουθούν τα παρακάτω στάδια:
    </p>

    <ul>
      <li>Ο – 6 μηνών:
        <ul>
          <li>το μωρό αντιδράει στους ήχους και στρέφεται προς την πηγή του ερεθίσματος</li>
          <li>παράγει ήχους</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>να μιλάτε στο παιδί ήρεμα</li>
          <li>να τραγουδάτε μαζί του
          </li>
          <li>να ονομάζεται οικεία άτομα και αντικείμενα</li>
        </ol>
        <hr/>
      </li>

      <li>Έως 12 μηνών:
        <ul>
          <li>παράγει τις πρώτες του λέξεις (συνήθως «μαμά» και «μπαμπά»)</li>
          <li>κατανοεί απλές οδηγίες</li>
          <li>ανταποκρίνεται στο όνομά του</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>του αρέσει να παίζεται με την φωνή σας, να υπάρχει δηλαδή αλλαγή στην μελωδία της ομιλία σας</li>
          <li>δώστε του να καταλάβει την χαρά της επικοινωνίας αλληλεπιδρώντας μαζί του μέσω του γέλιου, της έκφρασης του προσώπου και του κοιτάγματος</li>
        </ol>
        <hr/>
      </li>

      <li>Έως 18 μηνών:
        <ul>
          <li>έίναι σε θέση να ονομάζει οικεία αντικείμενα</li>
          <li>αυξάνεται το λεξιλόγιό του</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>χρησιμοποιήστε σωστά γραμματικές προτάσεις και αποφύγετε τις «μωρουδίστικες» λέξεις</li>
          <li>ξεφυλλίστε και σχολιάστε μαζί του βιβλία που είναι για την ηλικία του</li>
        </ol>
        <hr/>
      </li>

      <li>Έως 2 χρονών:
        <ul>
          <li>κατανοεί σύνθετες οδηγίες</li>
          <li>χρησιμοποιεί προτάσεις με 2 – 3 λέξεις</li>
          <li>λέει το όνομά του</li>
          <li>ακούει ιστορίες από βιβλίο</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>βοηθήστε το να αυξήσει το λεξιλόγιό του</li>
        </ol>
        <hr/>
      </li>

      <li>Έως 3 χρονών:
        <ul>
          <li>χρησιμοποιεί προτάσεις</li>
          <li>κάνει ερωτήσεις</li>
          <li>χρησιμοποιεί άρθρα, ρήματα, πληθυντικό αριθμό και προθέσεις</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>μάθετε στο παιδί να λέει ιστορίες βοηθώντας το στην οργάνωση της σκέψης του</li>
        </ol>
        <hr/>
      </li>

      <li>Έως 4 χρονών:
        <ul>
          <li>ο λόγος του μοιάζει με αυτόν των ενηλίκων (γραμματικά και συντακτικά)</li>
          <li>περιγράφει πρόσφατες εμπειρίες του</li>
          <li>διηγείται δύο γεγονότα στην σωστή σειρά</li>
        </ul>
        <p>
          <strong>
            <u>Συμβουλές:</u>
          </strong>
        </p>
        <ol>
          <li>διαβάστε μαζί ιστορίες και ενθαρρύνεται την αφήγησή τους</li>
        </ol>
      </li>
    </ul>
  </div>
</div>
