<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li class="active">Λογοθεραπεία</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class='color-blue'>Τι είναι η Λογοθεραπεία;</h2>
    <p>Λογοθεραπεία ονομάζεται η επιστήμη η οποία ασχολείται με την πρόληψη, την διάγνωση και την αντιμετώπιση των διαταραχών του λόγου, της ομιλίας και της φωνής που μπορεί να εμφανίζουν παιδιά ή ενήλικες.</p>
    <p>Αντικείμενο της λογοθεραπείας:</p>
    <p>Ένας λογοθεραπευτής έχει την δυνατότητα να παρέμβει στις παρακάτω διαταραχές:
      <ul>
        <li>Φωνολογική διαταραχή: γίνονται αντικαταστάσεις γραμμάτων. Π.χ. το παιδί λέει «πό<strong>
            <span style="color: #ff0000;">β</span>
          </strong>ι» αντί για «πό<strong>
            <span style="color: #ff0000;">δ</span>
          </strong>ι».</li>
        <li>Ειδική γλωσσική διαταραχή έκφρασης ή/και κατανόησης: το παιδί δυσκολεύεται στην έκφραση ή/και στην κατανόηση του λόγου.</li>
        <li>Διαταραχές άρθρωσης: το παιδί δυσκοεύεται να αρθρώσει κάποιο γράμμα π.χ. το «ρ», το «σ»</li>
        <li>Τραυλισμός: παρουσιάζεται διαταραχή στην ροή και στον ρυθμό της ομιλίας η οποία εμφανίζεται με επαναλήψεις γραμμάτων, συλλαβών ή λέξεων, με επιμηκύνσεις ήχων και με παύσεις.</li>
        <li>Διαταραχές άρθρωσης λόγω ανατομικων παραλλαγών (σχιστίες)</li>
        <li>Διαταραχές στην σίτιση και στην κατάποση</li>
        <li>Ειδικές μαθησιακές δυσκολίες (δυσλεξία): σοβαρή καθυστέρηση στην κατάκτηση του γραπτού λόγου (γραφή και ανάγνωση).</li>
        <li>Βαρηκοϊα – κόφωση: μείωση της ακουτικής ικανότητας</li>
        <li>Αφασία ενηλίκων (εγκεφαλικά επεισόδια)</li>
        <li>Νοητική υστέρηση: δείκτης νοημοσύνης χαμηλότερος του φυσιολογικού</li>
        <li>Διαταραχές φωνής: παρατηρείται βραχνάδα στην φωνή, αίσθηση κούρασης, αφωνία και γενικότερα αλλάζει η ποιότητα της φωνής.</li>
      </ul>
    </div>
  </div>
</div>
