<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'logotherapeia' | prepend: site.baseurl }}">Λογοθεραπεία</a>
    </li>
    <li class="active">Πότε πρέπει να συμβουλευτείτε έναν λογοθεραπευτή</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Πότε πρέπει να συμβουλευτείτε έναν λογοθεραπευτή</h2>
    <p>
      Όταν το παιδί στην ηλικία των
    </p>
    <p>
      <ul>
        <li>
          0 – 6 μηνών:
          <ul>
            <li>
              δεν αντιδρά σε ήχους
            </li>
            <li>
              δεν κάνει βλεμματική επαφή
            </li>
          </ul>
        </li>
        <li>
          6 -12 μηνών:
          <ul>
            <li>
              Δεν εξελίσσονται οι επικοινωνιακές δεξιότητες (αντίδραση σε ήχους και βλεμματική επαφή)
            </li>
          </ul>
        </li>
        <li>
          12 – 18 μηνών:
          <ul>
            <li>
              σταματήσει να μιλάει
            </li>
            <li>
              η ομιλία του παραμένει στάσιμη
            </li>
            <li>
              η ομιλία του χειροτερεύει
            </li>
          </ul>
        </li>
        <li>
          18 – 24 μηνών:
          <ul>
            <li>
              έχει περιορισμένο λεξιλόγιο
            </li>
            <li>
              έχει δυσκατάληπτο ομιλία (μη κατανοητός)
            </li>
            <li>
              δεν μπορεί να σχηματίσει σύντομη πρόταση 2 λέξεων
            </li>
          </ul>
        </li>
        <li>
          2 – 3 χρονών:
          <ul>
            <li>
              η ομιλία παραμένει δυσκατάληπτη
            </li>
            <li>
              δεν χρησιμοποιεί άρθρα
            </li>
            <li>
              δεν σχηματίζει απλές προτάσεις
            </li>
          </ul>
        </li>
        <li>
          Επίσης, ανησυχητικό είναι όταν :
          <ul>
            <li>
              παρουσιάζεται μειωμένη ικανότητα να παίρνει μέρος σε μια συζήτηση
            </li>
            <li>
              αδυνατεί να εκφραστεί με ευκολία και ανάλογα με τις περιστάσεις
            </li>
          </ul>
        </li>
      </ul>
    </p>
  </div>
</div>
