<img src="{{ 'assets/images/kid-logo.png' | prepend: site.baseurl }}" style="width:100%"/>

<ul class="list-group">
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/pote_prepei_na_symvoulefteite_enan_logotherapefti' | prepend: site.baseurl }}">Πότε πρέπει να συμβουλευτείτε έναν λογοθεραπευτή</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/prwti_episkepsi' | prepend: site.baseurl }}">Πρώτη επίσκεψη</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/syxnotita_synedriwn' | prepend: site.baseurl }}">Συχνότητα συνεδριών</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/dikaiologitika_gia_tin_xorigisi_synedriwn_logotherapeias' | prepend: site.baseurl }}">Δικαιολογητικά για την χορήγηση συνεδριών λογοθεραπείας</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/o_rolos_tou_KEDDY' | prepend: site.baseurl }}">Ο ρόλος του ΚΕΔΔΥ</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/syxnes_erwtiseis' | prepend: site.baseurl }}">Συχνές ερωτήσεις</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/fysiologiki_anaptyksi_tou_logou_kai_tis_omilias' | prepend: site.baseurl }}">Φυσιολογική ανάπτυξη του λόγου και της ομιλίας</a>
  </li>
  <li class="list-group-item">
    <a href="{{ 'logotherapeia/xrisi_katallilwn_paixnidiwn_kai_drastiriotitwn' | prepend: site.baseurl }}">Χρήση κατάλληλων παιχνιδιών και δραστηριοτήτων</a>
  </li>
</ul>
