<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'logotherapeia' | prepend: site.baseurl }}">Λογοθεραπεία</a>
    </li>
    <li class="active">Συχνότητα συνεδριών</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Συχνότητα συνεδριών</h2>
    <p>
      Η συχνότητα των συνεδριών εξαρτάται από την διάγνωση και τις ανάγκες του κάθε θεραπευόμενου.
    </p>
    <p>
      Συνήθως, γίνονται δύο συνεδρίες την εβδομάδα, τις μέρες και τις ώρες που έχουν συμφωνηθεί. Η διάρκεια κάθε συνεδρίας είναι 45’.
    </p>
    <p>
      Μετά το τέλος κάθε συνεδρίας ακολουθεί ενημέρωση για την πρόοδο του θεραπευόμενου κατά την διάρκεια της συνεδρίας αλλά δίνονται και οδηγίες για τον τρόπο που πρέπει να δουλεύεται ο θεραπευόμενος στο σπίτι.
    </p>
  </div>
</div>
