<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="{{ site.baseurl }}">Αρχική</a>
    </li>
    <li>
      <a href="{{ 'logotherapeia' | prepend: site.baseurl }}">Λογοθεραπεία</a>
    </li>
    <li class="active">Χρήση κατάλληλων παιχνιδιών και δραστηριοτήτων</li>
  </ol>
  <div class="col-md-4">
    {% include logotherapeia/sidebar.html %}
  </div>
  <div class="col-md-8">
    <h2 class="color-blue">Παίζοντας... μαθαίνουμε!</h2>
    <p>
      Η χρήση κατάλληλων παιχνιδιών και δραστηριοτήτων είναι πολύ σημαντική για την εξέλιξη του παιδιού, αφού αποτελεί ένας φυσικός τρόπος επικοινωνίας, εξερεύνησης και μάθησης από το περιβάλλον.
    </p>
    <p>
      Έρευνες έχουν δείξει πως η ανάπτυξη του παιχνιδιού βοηθάει στους παρακάτω τομείς:

      <ul>
        <li>στις κοινωνικές δεξιότητες και στην συναισθηματική νοημοσύνη</li>
        <li>στις γνωστικές δεξιότητες</li>
        <li>στον λόγο και στις σχετικές επικοινωνιακές δεξιότητες</li>
        <li>στην ευελιξία της σκέψης και της συμπεριφοράς και</li>
        <li>στην ικανότητα μάθησης.</li>
      </ul>
    </p>
    <p>
      Για τον λόγο αυτό, ανάλογα με την ηλικία που βρίσκετε το παιδί, καλό θα είναι να χρησιμοποιούνται κατάλληλα παιχνίδια και δραστηριότητες που βοηθούν στην κατάκτηση διάφορων δεξιοτήτων.
    </p>
    <p>Παρακάτω ο πίνακας αναφέρει παιχνίδια και δραστηριότητες που αφορούν παιδιά ηλικίας απο 0 έως 36 μηνών.
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tr>
          <th class="text-center">Ηλικία</th>
          <th class="text-center">Παιχνίδι</th>
          <th class="text-center">Δραστηριότητες</th>
        </tr>
        <tr>
          <th>
            Νεογνά έως 6 μηνών
          </th>
          <td>
            <ul>
              <li>παιχνίδια για ζούληγμα</li>
              <li>πλαστικά παιχνίδια για το στόμα</li>
              <li>κουδουνίστρες</li>
              <li>παιχνίδια που πιέζονται και κάνουν θόρυβο</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>νανούρισμα και αγκαλιές</li>
              <li>χορός με το μωρό στην αγκαλιά</li>
              <li>σωματικό παιχνίδι</li>
              <li>θόρυβοι με το στόμα</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>7 έως 12 μηνών</th>
          <td>
            <ul>
              <li>κουδουνίστρες και παιχνίδια με βεντούζες</li>
              <li>μαλακά ζωάκια</li>
              <li>βιβλία από πανί, χαρτόνι ή πλαστικό</li>
              <li>κινούμενα παιχνίδια</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>φωνές ζώων</li>
              <li>παιδικά τραγουδάκια</li>
              <li>σωματικό παιχνίδι</li>
              <li>μπάλα, κρυφτό, παιχνίδια με χέρια</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>13 έως 18 μηνών</th>
          <td>
            <ul>
              <li>βιβλία με υφές</li>
              <li>μουσικά κουτιά ή παιχνίδια</li>
              <li>οχήματα</li>
              <li>παιχνίδια που μπαίνουν το ένα πάνω στο άλλο ή μέσα στο άλλο ή στοιβάζονται</li>
              <li>παιχνίδια που τραβιούνται ή σπρώχνονται</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>παιδικά τραγουδάκια αλλά με λόγια μεγάλων</li>
              <li>γύρω – γύρω όλοι</li>
              <li>μπάλα</li>
              <li>κρυφτό</li>
              <li>ζωγραφική</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>18 έως 24 μηνών</th>
          <td>
            <ul>
              <li>τουβλάκια</li>
              <li>μουσικά όργανα</li>
              <li>παζλ</li>
              <li>κηρομπογιές</li>
              <li>τρενάκια</li>
              <li>πλαστελίνη</li>
              <li>παιχνίδια που βοηθούν στον συντονιςμό όρασης και κίνησης</li>
              <li>οχήματα</li>
              <li>κλούκλες και αξεσουάρ</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>ταξινόμηση σχημάτων</li>
              <li>στίβαγμα κύβων</li>
              <li>τρέξιμο</li>
              <li>κρυφτό</li>
              <li>γύρω – γύρω όλοι</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>
            24 έως 36μηνων
          </th>
          <td>
            <ul>
              <li>παιδικά βιβλία</li>
              <li>μουσική</li>
              <li>μαρκαδόρους</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>παιχνίδια ρόλων</li>
              <li>χορός</li>
              <li>διήγηση ιστορίας ή παραμυθιού</li>
              <li>ζωγραφική</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="text-center">Ηλικία</th>
          <th class="text-center">Παιχνίδι</th>
          <th class="text-center">Δραστηριότητες</th>
        </tr>
      </table>
    </div>
  </div>
</div>
