<head>
  <meta charset="utf-8">
  <title>
      {{ .Title }}
  </title>
  <meta name="description" content="{{ .Description }}">
  {{/* styles */}}
  {{ $styles := resources.Get "/css/_style.css" | postCSS }}

  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
  {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
  {{ end }}
</head>
