<section id="aboutus" class="bg-image bg-green color-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>λίγα λόγια για εμάς...</h1>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12 clearfix">
          <img src="{{ '/assets/images/profile-female-01.png' | prepend: site.url }}" class="profile-female pull-left hidden-xs">

          <h2>
            <a href="{{ '/therapeutes/#apostolaki' | prepend: site.url }}" class="color-white">
              Αποστολάκη Μαρία
            </a>
          </h2>
          <small>Λογοθεραπεύτρια</small>
          <p>Απόφοιτη του τμήματος Λογοθεραπείας του Τ.Ε.Ι. Ηπείρου, με πάνω από 10 χρόνια εμπειρίας στον ιδιωτικό τομέα. Με συνεχή ενημέρωση γύρω από τις διαταραχές του λόγου, της ομιλίας και της φωνής.</p>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12 clearfix">
          <img src="{{ '/assets/images/profile-female-02.png' | prepend: site.url }}" class="profile-female pull-left hidden-xs">

          <h2>
            <a href="{{ '/therapeutes/#tsiogka' | prepend: site.url }}" class="color-white">
              Τσιόγκα Αλεξάνδρα
            </a>
          </h2>
          <small>Λογοθεραπεύτρια</small>
          <p>Απόφοιτη του τμήματος Λογοθεραπείας του Τ.Ε.Ι. Ηπείρου, με πάνω από 10 χρόνια εμπειρίας στον ιδιωτικό τομέα. Με συνεχή ενημέρωση γύρω από τις διαταραχές του λόγου, της ομιλίας και της φωνής.</p>
        </div>
      </div>
    </div>
  </div>
</section>
