<section id="callout" class="small-section">
  <!-- Clouds background -->
  <div class="clouds hidden-xs">
    <div class="cloud large cloud-1">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud normal cloud-2">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud small cloud-3">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud tiny cloud-4">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud large cloud-5">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud normal cloud-6">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud small cloud-7">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud tiny cloud-8">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud small cloud-9">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud normal cloud-10">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud tiny cloud-11">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="cloud small cloud-12">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- /Clouds ends -->
  <div class="container">
    <!-- Animated Sun -->
    <div class="sun hidden-sm hidden-xs">
      <div class="sun-face">
        <div class="sun-hlight"></div>
        <div class="sun-leye"></div>
        <div class="sun-reye"></div>
        <div class="sun-lred"></div>
        <div class="sun-rred"></div>
        <div class="sun-smile"></div>
      </div>
      <!-- Sun rays -->
      <div class="sun-anime">
        <div class="sun-ball"></div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
        <div class="sun-light">
          <b></b>
          <s></s>
        </div>
      </div>
    </div>
    <!-- /Animated Sun -->
    <div class="col-md-6 col-sm-6 text-center">
      <div class="well">
        <h1>Δωρεάν Αξιολόγηση</h1>
        <p>Κλείστε ραντεβού στο τηλέφωνο <nobr>23940 24555</nobr> <br />
          για μια δωρεάν αξιολόγηση, σας περιμένουμε…</p>

          <a class="btn btn-pink" href="{{ '/contact' | prepend: site.url }}">επικοινωνήστε μαζί μας</a>

      </div>
      <!-- /well -->
    </div>
    <!-- /col-md-6 -->
  </div>
  <!-- /container-->
</section>
