<section id="professions">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-push-1">
        <div class="col-lg-12 bg-pink color-white box text-center">
          <h2>Λογοθεραπεία</h2>
          <p class="text-justify">
            Σκοπός της λογοθεραπείας είναι η πρόληψη, η αξιολόγηση, η διάγνωση, η θεραπευτική αποκατάσταση και η επιστημονική μελέτη των διαταραχών λόγου (προφορικού και γραπτού), ομιλίας, επικοινωνίας, φωνής και κατάποσης σε παιδιά και ενήλικες.
          </p>
          <a href="#" class="btn btn-blue">μάθετε περισσότερα</a>
        </div>
      </div>
      <div class="col-lg-5 col-lg-push-1">
        <div class="col-lg-12 bg-blue color-white box text-center">
          <h2>Εργοθεραπεία</h2>
          <p class="text-justify">
            Σκοπός της λογοθεραπείας είναι η πρόληψη, η αξιολόγηση, η διάγνωση, η θεραπευτική αποκατάσταση και η επιστημονική μελέτη των διαταραχών λόγου (προφορικού και γραπτού), ομιλίας, επικοινωνίας, φωνής και κατάποσης σε παιδιά και ενήλικες.
          </p>
            <a href="#" class="btn btn-pink">μάθετε περισσότερα</a>
        </div>
      </div>
    </div>
  </div>
</section>
