<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <p class="text-justify">
            Ο μικρός είχε διάγνωση Δυσλεξίας από τα έξι του. Ωστόσο κανείς μέχρι τώρα δεν είχε καταφέρει να του προσφέρει την ώθηση που χρειαζόταν!
          </p>
          <small>Δήμητρα Ι. από Καβαλάρι</small>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p class="text-justify">
            Ο μικρός είχε διάγνωση Δυσλεξίας από τα έξι του. Ωστόσο κανείς μέχρι τώρα δεν είχε καταφέρει να του προσφέρει την ώθηση που χρειαζόταν!
          </p>
          <small>Δήμητρα Ι. από Καβαλάρι</small>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p class="text-justify">
            Ο μικρός είχε διάγνωση Δυσλεξίας από τα έξι του. Ωστόσο κανείς μέχρι τώρα δεν είχε καταφέρει να του προσφέρει την ώθηση που χρειαζόταν!
          </p>
          <small>Δήμητρα Ι. από Καβαλάρι</small>
        </div>
      </div>
    </div>
  </div>
</section>
