<section id="welcome">
  <div class="col-sm-6 welcome-image"></div>
  <div class="col-sm-6 welcome-text">
    <h1 class="color-blue hidden-sm hidden-xs">Καλως ήρθατε στο κέντρο μας</h1>
    <h2 class="color-blue hidden-lg hidden-md">Καλως ήρθατε στο κέντρο μας</h2>
    <p>
      Το κέντρο μας, είναι ένα σύγχρονο κέντρο πρόληψης, διάγνωσης και αποκατάστασης των διαταραχών λόγου και ομιλίας και των διαταραχών λεπτής και αδρής κινητικότητας καθώς και της διάσπασης της προσοχής.
    </p>
  </div>
</section>
