<section id="whoweare" class="bg-image bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-push-1 col-lg-10  text-center">
        <h1>ας γνωριστούμε...</h1>
        <p>
          Το κέντρο λογοθεραπείας και εργοθεραπείας «Σκέψη & Λέξη» ξεκίνησε την δραστηριότητά του το 2009 στο κέντρο του Λαγκαδά, με υπεύθυνη την λογοθεραπεύτρια Αποστολάκη Μαρία, μέλος του Πανελλήνιου Συλλόγου Λογοθεραπευτών.<br />Το κέντρο πλαισιώνεται από
          έμπειρους συνεργάτες όπως λογοθεραπευτές, εργοθεραπεύτρια, ψυχολόγο και παιδοψυχολόγο. Στόχος μας είναι η έγκαιρη και έγκυρη αποκατάσταση των διαταραχών που μπορεί να παρουσιάζει το παιδί.
        </p>
      </div>
    </div>
  </div>
</section>
